extends layout
block content
    .row(ng-app='comunicatesModule')
        .card(ng-controller='comunicatesController')
            include comunicatesModal
            .card-header(data-background-color='purple')
                h4.title COMUNICADOS
                p.category Listado
                button.btn.btn-info.btn-lg.float-right(type='button', data-toggle='modal', data-target='#comunicatesModal') NUEVO
            .card-content.table-responsive
                table.table
                    thead.text-primary
                        th Descripción
                        th Opciones
                    tbody
                        tr
                            td jnerojnfdjnofljfg
                            td.td-actions.text-right
                                button.btn.btn-primary.btn-simple.btn-xs(type='button', rel='tooltip', title='Editar',data-toggle='modal', data-target='#comunicatesModal')
                                    i.material-icons edit
                                button.btn.btn-danger.btn-simple.btn-xs(type='button', rel='tooltip', title='Eliminar')
                                    i.material-icons close

block Javascript
    script(type='text/javascript',src='/js/modules/comunicatesModule.js')
    script(type='text/javascript').
        $(document).ready(function () {
            document.getElementById('comunicates').className = 'active';
        });