#editPhraseModal.modal.fade(role='dialog')
    .modal-dialog
        form.modal-content.card(ng-submit='update()')
            .modal-header.card-header(data-background-color='blue')
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title.title Editar frase de seguridad
                    p.category Ingresa los datos solicitados
            .modal-body.card-content
                .row
                    .col-md-12
                        .form-group
                            input(type='text',hidden='true',ng-model='editedPhrase.id',name='id')
                            label Descripción
                            .form-group
                                label.control-label  Ingrese la frase de seguridad
                                textarea.form-control(rows='5',name='phrase',ng-model='editedPhrase.phrase',required='')
            .modal-footer
                button.btn.btn-primary.pull-right(type='submit') Registrar
                    .clearfix