extends layout

block content


block Javascript
    script(type='text/javascript').
        $(document).ready(function () {
            document.getElementById('indicators').className = 'active';
        });